@model ReservaDeVuelos.Models.ROL_OPERA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ROL_OPERA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OPERACIONES.NOM_OPERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERACIONES.NOM_OPERA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROLES.ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLES.ROL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_ROLOP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
