@model ReservaDeVuelos.Models.ASIGNA_AP_AL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ASIGNA_AP_AL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AEROLINEAS.NOM_AEROLINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AEROLINEAS.NOM_AEROLINEA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AEROPUERTOS.NOM_AERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AEROPUERTOS.NOM_AERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAISES_REGIONES.COD_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAISES_REGIONES.COD_PAIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_AP_AL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
