@model IEnumerable<ReservaDeVuelos.Models.ASIGNA_AP_AL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AEROLINEAS.NOM_AEROLINEA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AEROPUERTOS.NOM_AERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAISES_REGIONES.COD_PAIS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AEROLINEAS.NOM_AEROLINEA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AEROPUERTOS.NOM_AERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAISES_REGIONES.COD_PAIS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_AP_AL }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_AP_AL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_AP_AL })
        </td>
    </tr>
}

</table>
