@model ReservaDeVuelos.Models.REGION_AEROPUERTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>REGION_AEROPUERTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AEROPUERTOS.NOM_AERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AEROPUERTOS.NOM_AERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGIONES.REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGIONES.REGION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_REG_AER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
