<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                   
                   
                 
                   <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Mantenimiento</a>
                       <div class="dropdown-content">
                           @Html.ActionLink("Usuarios", "Index", "USUARIOS")
                           @Html.ActionLink("Paises", "Index", "PAISES")
                           @Html.ActionLink("Regiones", "Index", "REGIONES")
                           @Html.ActionLink("Aerolineas", "Index", "AEROLINEAS")
                           @Html.ActionLink("Aeropuertos", "Index", "AEROPUERTOS1")
                           @Html.ActionLink("Aeropuertos por Regiones", "Index", "REGION_AEROPUERTO")
                           @Html.ActionLink("Aerolienas por Paises", "Index", "PAIS_AEROLINEA")
                           @Html.ActionLink("Aerolienas por Aeropuertos", "Index", "AEROLINEA_AEROPUERTO")
                           @Html.ActionLink("Aviones", "Index", "AVIONES")
                           @Html.ActionLink("Opciones para los vuelos", "Index", "OPC_VUELOS")
                       </div>
                     </li>
                    <li style="float:right">@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "CerrarSesion")</li>
                </ul>
             
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
