<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                   
                   
                 
                   <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Mantenimiento De Vuelos</a>
                       <div class="dropdown-content">

                           
                           @Html.ActionLink("Paises", "Index", "PAISES")
                           @Html.ActionLink("Regiones", "Index", "REGIONES")
                           @Html.ActionLink("Aerolineas", "Index", "AEROLINEAS")
                           @Html.ActionLink("Aeropuertos", "Index", "AEROPUERTOS1")
                           @Html.ActionLink("Aeropuertos por Regiones", "Index", "REGION_AEROPUERTO")
                           @Html.ActionLink("Aerolienas por Paises", "Index", "PAIS_AEROLINEA")
                           @Html.ActionLink("Aerolienas por Aeropuertos", "Index", "AEROLINEA_AEROPUERTO")
                           @Html.ActionLink("Aviones", "Index", "AVIONES")
                           @Html.ActionLink("Opciones para los vuelos", "Index", "OPC_VUELOS")
                           @Html.ActionLink("Tipo de contactos", "Index", "TIPO_CONTACTOS")
                           @Html.ActionLink("Tipo de vuelos", "Index", "TIPOS_VUELOS")

                       </div>
                     </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Mantenimiento De Usuarios</a>
                        <div class="dropdown-content">

                            @Html.ActionLink("Usuarios", "Index", "USUARIOS")
                            @Html.ActionLink("Roles", "Index", "ROLES")
                            @Html.ActionLink("Operaciones", "Index", "OPERACIONES")
                            @Html.ActionLink("Roles por operaciones", "Index", "ROL_OPERA")
                            @Html.ActionLink("Modulos", "Index", "MODULOS")
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Mantenimiento De Registro</a>
                        <div class="dropdown-content">
                            
                            @Html.ActionLink("Tipo de documentos", "Index", "TIPO_DOCUMENTOS")
                           
                        </div>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Registro De Pagos</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Tipos de Pagos", "Index", "TIPOS_PAGOS")
                        @Html.ActionLink("Precios de Vuelos", "Index", "PRECIOS_VUELOS")
                    </div>
                    </li>

                    <li style="float:right">@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "CerrarSesion")</li>
                </ul>
             
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
