@model ReservaDeVuelos.Models.RegistroUsuarioModel.RegistroUsuarios
@{
 Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ojo.png" type="image/x-icon">
    @Styles.Render("~/assets/css")
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    @Scripts.Render("~/bundle/javascript")
    
   
    <title>Registro</title>
</head>

<body id="completo">
    <header></header>
    <div class="login-box  Just-add-water animate__bounce ">
        @using (Html.BeginForm("Registro", "Registros", FormMethod.Post)) {

            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
                <h1> Registrate</h1>
            <hr>
            <div class="input1">
            @Html.LabelFor(nombre => nombre.NOMBRES_USER, new { @class = "animate__animated animate__fadeInBottomRight" })
                @Html.TextBoxFor(nombre => nombre.NOMBRES_USER, new { @class = "animate__animated animate__fadeInBottomLeft" })

            </div>
            <br>
            <div class="input2">
            @Html.LabelFor(apellidos => apellidos.APELLIDOS_USER, new { @class = "animate__animated animate__fadeInBottomRight" }) 
                @Html.TextBoxFor(apellidos => apellidos.APELLIDOS_USER, new { @class = "animate__animated animate__fadeInBottomLeft" })
            </div>
            <div class="input3">
                 @Html.LabelFor(direccion => direccion.DIRRECION, new { @class = "animate__animated animate__fadeInBottomRigh" })
                @Html.TextBoxFor(direccion => direccion.DIRRECION, new { @class = "animate__animated animate__fadeInBottomLeft" })
            </div>
            <hr>
             <div class="input4">
                 @Html.LabelFor(edad => edad.EDAD, new { @class = "animate__animated animate__fadeInBottomLeft" })
                 @Html.TextBoxFor(edad => edad.EDAD, new { @class = "animate__animated animate__fadeInBottomLeft" })
             </div>
             <br>
            <br>
             <div class="input5">
                 @Html.LabelFor(genero => genero.GENERO, new { @class = "animate__animated animate__fadeInBottomLeft" })
                 @Html.TextBoxFor(genero => genero.GENERO, new { @class = "animate__animated animate__fadeInBottomLeft" })
             </div>
             <br>
            <br>
            <div class="input6">
                 @Html.LabelFor(usuario => usuario.USER, new { @class = "animate__animated animate__fadeInBottomLeft" })&nbsp; &nbsp;
                 @Html.TextBoxFor(usuario => usuario.USER, new { @class = "animate__animated animate__fadeInBottomLeft" })
               </div>
               <br>
            <div class="input7">
                @Html.LabelFor(pass => pass.PASSWORD, new { @class = "animate__animated animate__fadeInBottomLeft" })&nbsp; &nbsp;
                @Html.TextBoxFor(pass => pass.PASSWORD, new { @class = "animate__animated animate__fadeInBottomLeft" })
            </div>
            <br>
            <div class="input8">
                @Html.LabelFor(email => email.MAIL_USER, new { @class = "animate__animated animate__fadeInBottomLeft" })&nbsp; &nbsp; &nbsp;
                @Html.TextBoxFor(email => email.MAIL_USER, new { @class = "animate__animated animate__fadeInBottomLeft" })
            </div>
            <div class="input9">
                @Html.LabelFor(pass => pass.PASSWORD, new { @class = "animate__animated animate__fadeInBottomLeft" })&nbsp; &nbsp;
                @Html.TextBoxFor(pass => pass.PASSWORD, new { @class = "animate__animated animate__fadeInBottomLeft" })
            </div>
            <br>
            <hr>

            <div class="center">
                <input type="submit" value="Registro" />


                <br>
                </div>
                }

                    <br>
                    <p>
                        Ya eres mienbro registrate
                        <br><a href="login.html" id="btn1" class="to_register"> Loguéate </a>
                    </p>

                </div>

               
        


</body>

</html>

