@model ReservaDeVuelos.Models.CRUD.UserViewCrud
  @{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ojo.png" type="image/x-icon">
    @Styles.Render("~/assets/css")
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundle/javascript")


    <title>Registro</title>
</head>

<body id="completo">
    <header></header>
    <div class="col-md-12 ">
        @using (Html.BeginForm("Registro", "Registros", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
            <h1> Registrate</h1>
            <hr>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(nombre => nombre.NOMB_USER)

                    @Html.TextBoxFor(nombre => nombre.NOMB_USER, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(apellido => apellido.APELLIDOS)

                    @Html.TextBoxFor(apellido => apellido.APELLIDOS, new { @class = "form-control" })

                </div>


                <div class="form-group">
                    @Html.LabelFor(direccion => direccion.DIRECCION)
                    @Html.TextBoxFor(direccion => direccion.DIRECCION, new { @class = "form-control" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(edad => edad.EDADES)
                    @Html.TextBoxFor(edad => edad.EDADES, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(genero => genero.GENERO)
                    @Html.TextBoxFor(genero => genero.GENERO, new { @class = "form-control" })
                </div>

            </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(usuario => usuario.NOM_USU)
                        @Html.TextBoxFor(usuario => usuario.NOM_USU, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(email => email.MAIL_USER)
                        @Html.TextBoxFor(email => email.MAIL_USER, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(pass => pass.PASS_USER)
                        @Html.PasswordFor(pass => pass.PASS_USER, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(conpas => conpas.CONFIRM_PASS_USER)
                        @Html.PasswordFor(conpas => conpas.CONFIRM_PASS_USER, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(codEstado => codEstado.COD_ESTADO)
                        @Html.CheckBoxFor(codEstado => codEstado.COD_ESTADO, new { @class = "for-control" })
                    </div>
                   
                    
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Registro" />
                </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

