@model IEnumerable<ReservaDeVuelos.Models.PRECIOS_VUELOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AEROLINEAS.NOM_AEROLINEA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGION_AEROPUERTO.REGION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGION_AEROPUERTO1.REGION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AEROLINEAS.NOM_AEROLINEA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGION_AEROPUERTO.REGION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGION_AEROPUERTO1.REGION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_PRECIO_VUELO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_PRECIO_VUELO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_PRECIO_VUELO })
        </td>
    </tr>
}

</table>
