
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Listado de los Usuarios</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Usuarios/Insert")'" value="Nuevo Usuario" />
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead >
                <tr>
                    <th>Codigo de Usuario</th>
                    <th>Nombre</th>
                    <th>Correo Electronico</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            @foreach (var valores in Model)
            {
                <tbody>
                    <tr>
                        <td>@valores.COD_USER</td>
                        <td>@valores.NOM_USER</td>
                        <td>@valores.MAIL_USER</td>
                        <td>@valores.COD_ROL</td>
                        <td>@valores.COD_ESTADO</td>
                        <td>
                            <input type="button" onclick="jsBorrar(@valores.COD_USER)" name="Eliminar" value="Eliminar" class="btn btn-danger" />
                            <input type="button" onclick="document.location.href='@Url.Content("~/Usuarios/Edit/"+@valores.COD_USER)'" name="Editar" value="Editar" class="btn btn-outline-success" />
                        </td>
                    </tr>
                    
                </tbody>
                
            }
        </table>

    </div>

</div>
<script>
    function jsBorrar(codUser) {
        if(confirm("Esta seguro que quiere borrar")){


            url="@Url.Content("~/USUARIOS/Borrar/")"+codUser
            $.post(url, function(info){
                if(info=="1"){
                    document.location.href="@Url.Content("~/Usuarios/")"
                }
                else{
                    alert("Ocurrio un error al intentar borrar:(")
                }
            })
        }
    }
</script>

